[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
unstructured = "*"
markdown = "*"
langchain-mistralai = "*"
langchain-community = "*"
chromadb = "0.5.0"
spacy = "*"
pymupdf = "*"
sentence-transformers = "*"
qdrant-client = "*"
ollama = "*"

[requires]
python_version = "3.11"

[scripts]
setup = "./setup.sh"
load = "pipenv run python app/loader.py"
search = "pipenv run python app/search.py"
mistral = "ollama pull mistral-openorca"
gen-docs = "python3 data/gibberish/docs.py"
unit-tests = "pipenv run pytest tests/ -s"

[dev-packages]
pytest = "*"
ollama = "*"
pytest-asyncio = "*"
